<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse</title>
</head>
<body>
    <h1>Softwafe Name</h1>
    <div class="indexMain">
        <a href="http://localhost:8080/login"><button>Login</button></a>
            <!-- <button>Agent List</button> -->
        <a href="http://localhost:8080/signup"><button>Sign up</button></a>
        <!-- <button>View All</button>       -->
    </div>
</body>
</html>