<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="content">
        <h1>Update Page</h1>

        <h3>Target: a data sumitted on {{row[2]}}</h3>

        <form action='/update_trx/{{row[0]}}/{{row[5]}}' method="POST">
            <table border = 2>
                <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Device Name</th>
                    <th>Note</th>
                    <th>Agent</th>
                    <th>Response</th>
                </tr>
                    <tr>
                        <th>{{row[1]}}</th>
                        <th>{{row[2]}}</th>
                        <th>{{row[3]}}</th>
                        <th>{{row[4]}}</th>
                        <th>{{row[5]}}</th>
                        <!-- <th><input type="text" name="Update-response" value="{{row[6]}}" style="height: 25px; width:180px;"></th> -->
                        <th><textarea type="text" name="Update-response" value="{{row[6]}}" style="height: 28px; width:180px;"></textarea></th>
                    </tr>
            </table>

            <br>

            <input type="submit" name="submit" value="Update">
        </form>

    </div>

    <a href="http://localhost:8080/view_all/{{name}}"><button>Cancel</button></a>
</body>
</html>