<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Software Name</h1>
    <p>Good to see you again, {{name}}</p>
    <!-- <p>{{userName}}</p> -->

    <div class="userMain">
        <a href="http://localhost:8080/form_page/{{name}}"><button>Submit Form</button></a>
            <!-- <button>Agent List</button> -->
        <a href="http://localhost:8080/check_page/{{name}}"><button>Check History</button></a>
        <!-- <button>View All</button>  -->
        <a href="http://localhost:8080/checkRes/{{name}}"><button>Check Response</button></a>
    </div>

    <br>
    <br>

    <!-- Take users back to Home Page -->
    <div class="back-btn">
        <a href="http://localhost:8080/"><button>Home</button></a>
    </div>

</body>
</html>